doc
bin
direct
CMakeFiles
CMakeCache
CMakeCache.txt
Makefile
cmake_install.cmake
Doxyfile
install_manifest.txt
compile_commands.json
nlopt/config.h
nbproject
GTAGS
GPATH
GRTAGS
GSYMS
syntax:glob
*.a
*.o
*.pyc
*.mex
*.mexa64
*.log
*.out
*.so
*.cbp
*.layout
*.dat
*~

*.pickle
.vscode/
.idea/
build/
del_install.sh
determineNumpyPath.py
